In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import psycopg2

In [2]:
## Connect to SQL database
conn = psycopg2.connect(database = 'cuzegotk',user = 'cuzegotk',password = 'NekW2BqJ8hW1wO3hCdpuEESPiP-y131V',host = 'raja.db.elephantsql.com')
cur = conn.cursor()
## Get Joined table of the company financials, and ratings
cur.execute('SELECT companyfinancials.ticker, year, last_year, revenue, revenue_ly, cogs, cogs_ly, gross_profit, gross_profit_ly, operating_expense, operating_expense_ly, operating_profit, operating_profit_ly, net_profit, net_profit_ly, rating FROM companyfinancials JOIN companyratings ON companyfinancials.ticker = companyratings.ticker')
financials_a = cur.fetchall()
cur.close()
conn.close()

In [3]:
## Connect to SQL database
conn = psycopg2.connect(database = 'cuzegotk',user = 'cuzegotk',password = 'NekW2BqJ8hW1wO3hCdpuEESPiP-y131V',host = 'raja.db.elephantsql.com')
cur = conn.cursor()
## Get Joined table of the company balance sheets, quarter-ends, and shares_outstanding
cur.execute('SELECT Q.ticker, L.sector, B.quarter_end, shares_outstanding, total_assets,total_liabilities,intangible_assets,shareholders_equity,total_equity,revenue,gross_profit,operating_profit,net_income FROM companybalancesheets B JOIN companyquarterends Q ON Q.ticker = B.ticker JOIN sharesoutstanding S ON S.ticker = B.ticker JOIN companylisting L ON L.ticker = S.ticker')
financials_q = cur.fetchall()
cur.close()
conn.close()

In [4]:
# Define columns annual financials
a_columns = ['ticker', 'year', 'last_year', 'revenue', 'revenue_ly', 'cogs', 'cogs_ly', 'gross_profit', 'gross_profit_ly', 'operating_expense', 'operating_expense_ly', 'operating_profit', 'operating_profit_ly', 'net_profit', 'net_profit_ly', 'rating']

In [5]:
# Define columns of quarter financials
q_columns = ['ticker', 'sector', 'quarter_end', 'shares_outstanding', 'total_assets', 'total_liabilities', 'intangible_assets', 'shareholders_equity', 'total_equity', 'revenue', 'gross_profit', 'operating_profit', 'net_income']

In [6]:
financials_a = pd.DataFrame(financials_a, columns=a_columns)
financials_q = pd.DataFrame(financials_q, columns=q_columns)
Y = financials_a.rating.values.reshape(len(financials_a), 1)

In [7]:
financials_a.head()

,ticker,year,last_year,revenue,revenue_ly,cogs,cogs_ly,gross_profit,gross_profit_ly,operating_expense,operating_expense_ly,operating_profit,operating_profit_ly,net_profit,net_profit_ly,rating
0,A,2018-10-31,2017-10-31,4.914000e+09,4.472000e+09,2.227000e+09,2.063000e+09,2.687000e+09,2.409000e+09,3.940000e+09,3.589000e+09,9.740000e+08,8.830000e+08,3.160000e+08,6.840000e+08,Strong Buy
1,AAL,2018-12-31,2017-12-31,4.454100e+10,4.262200e+10,3.233700e+10,2.943000e+10,1.220400e+10,1.319200e+10,4.078400e+10,3.751900e+10,3.757000e+09,5.103000e+09,1.412000e+09,1.282000e+09,Moderate Buy
2,AAON,2018-12-31,2017-12-31,4.339470e+08,4.052320e+08,3.304140e+08,2.818350e+08,1.035330e+08,1.233970e+08,3.772360e+08,3.303600e+08,5.671100e+07,7.487200e+07,4.257200e+07,5.449800e+07,Strong Sell
3,AAP,2018-12-29,2017-12-30,9.580554e+09,9.373784e+09,5.354401e+09,5.288735e+09,4.226153e+09,4.085049e+09,8.868412e+09,8.720540e+09,7.121420e+08,6.532440e+08,4.238470e+08,4.755050e+08,Moderate Buy
4,AAPL,2018-09-29,2017-09-30,2.655950e+11,2.292340e+11,1.637560e+11,1.410480e+11,1.018390e+11,8.818600e+10,1.946970e+11,1.678900e+11,7.089800e+10,6.134400e+10,5.953100e+10,4.835100e+10,Moderate Buy

In [8]:
financials_q.head()

,ticker,sector,quarter_end,shares_outstanding,total_assets,total_liabilities,intangible_assets,shareholders_equity,total_equity,revenue,gross_profit,operating_profit,net_income
0,A,Health Care,31-Jul-2019,3.159900e+08,8.630000e+09,3.880000e+09,3.620000e+09,4.750000e+09,4.750000e+09,1.274000e+09,6.920000e+08,2.250000e+08,1.910000e+08
1,AAL,Industrials,30-Jun-2019,4.452700e+08,6.197000e+10,6.199000e+10,6.200000e+09,-1.690000e+08,-1.690000e+08,1.196000e+10,3.435000e+09,1.153000e+09,6.620000e+08
2,AAON,Materials,30-Jun-2019,5.212000e+07,3.422500e+08,7.768000e+07,3.620000e+06,2.645700e+08,2.645700e+08,1.194370e+08,3.017500e+07,1.668800e+07,1.296100e+07
3,AAP,Consumer Discretionary,31-Jul-2019,7.174000e+07,1.127000e+10,7.600000e+09,1.510000e+09,3.670000e+09,3.670000e+09,2.332246e+09,1.009438e+09,1.707720e+08,1.248200e+08
4,AAPL,Information Technology,30-Jun-2019,4.600000e+09,3.222400e+11,2.257800e+11,0.000000e+00,9.646000e+10,9.646000e+10,5.380900e+10,2.022700e+10,1.154400e+10,1.004400e+10

###### Feature Selection

In [9]:
## Categorical Feature for the sector that the company is listed under
financials_q.sector.value_counts()

Financials                109
Industrials                91
Information Technology     90
Consumer Discretionary     90
Health Care                78
Energy                     51
Consumer Staples           47
Utilities                  45
Real Estate                44
Materials                  42
Communication Services     39
nan                         2
Name: sector, dtype: int64

In [10]:
financials_q[financials_q.sector == 'nan']

,ticker,sector,quarter_end,shares_outstanding,total_assets,total_liabilities,intangible_assets,shareholders_equity,total_equity,revenue,gross_profit,operating_profit,net_income
250,EVRZF,nan,30-Jun-2019,451340000.0,9.480932e+09,7.270352e+09,1.049878e+09,1.964960e+09,2.210580e+09,NaN,NaN,NaN,NaN
429,MDOMF,nan,30-Jun-2019,46790000.0,9.001381e+08,1.988873e+08,8.297885e+07,6.447466e+08,7.012508e+08,6.062000e+09,2.469000e+09,1.025000e+09,0.0

In [11]:
financials_q.iloc[250,1] = 'Materials'
financials_q.iloc[429,1] = 'Consumer Discretionary'

In [12]:
financials_q.sector.value_counts()

Financials                109
Industrials                91
Consumer Discretionary     91
Information Technology     90
Health Care                78
Energy                     51
Consumer Staples           47
Utilities                  45
Real Estate                44
Materials                  43
Communication Services     39
Name: sector, dtype: int64

In [13]:
## Encoding categorical date using Pandas get_dummies
X1 = pd.get_dummies(financials_q['sector']).values

In [14]:
## Feature for measuring a company's earnings and its margin of safety, EPS and Book Value per share
X2 = (financials_q.net_income / financials_q.shares_outstanding).values.reshape(len(X1), 1)
X3 = ((financials_q.total_assets - financials_q.total_liabilities - financials_q.intangible_assets) / financials_q.shares_outstanding).values.reshape(len(X1), 1)

In [15]:
## Measure of company's profitability, Return on Equity and Return on Assets
X4 = (financials_q.net_income / financials_q.shareholders_equity).values.reshape(len(X1), 1)
X5 = (financials_q.net_income / financials_q.shareholders_equity).values.reshape(len(X1), 1)

In [16]:
## Measure of company's financial leverage and liquidity, Debt-to-Equity ratio and Debt-to-Asset ratio
X6 = (financials_q.total_liabilities / financials_q.shareholders_equity).values.reshape(len(X1), 1)
X7 = (financials_q.total_liabilities / financials_q.total_assets).values.reshape(len(X1), 1)

In [17]:
## Measure of company's margins, gross, operating, and net
X8 = (financials_q.gross_profit / financials_q.revenue).values.reshape(len(X1), 1)
X9 = (financials_q.operating_profit / financials_q.revenue).values.reshape(len(X1), 1)
X10 = (financials_q.net_income / financials_q.revenue).values.reshape(len(X1), 1)

In [18]:
## Measure of year-over-year growth in sales
X11 = ((financials_a.revenue - financials_a.revenue_ly) / financials_a.revenue_ly).values.reshape(len(X1), 1)

In [19]:
## Set of features we will use for our machine learning algorithm
features = np.concatenate((X1[:,1:], X2, X3, X4, X5, X6, X7, X8, X9, X10, X11), axis = 1)

###### Testing Features

In [20]:
## Loading and dropping NaNs
df = pd.DataFrame(np.concatenate((features, Y), axis = 1))
df.dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 618 entries, 0 to 727
Data columns (total 21 columns):
0     618 non-null object
1     618 non-null object
2     618 non-null object
3     618 non-null object
4     618 non-null object
5     618 non-null object
6     618 non-null object
7     618 non-null object
8     618 non-null object
9     618 non-null object
10    618 non-null object
11    618 non-null object
12    618 non-null object
13    618 non-null object
14    618 non-null object
15    618 non-null object
16    618 non-null object
17    618 non-null object
18    618 non-null object
19    618 non-null object
20    618 non-null object
dtypes: object(21)
memory usage: 106.2+ KB

In [21]:
df.iloc[:,20].value_counts()

Moderate Buy     301
Hold             156
Strong Buy        91
Moderate Sell     46
Strong Sell       17
No Ratings         7
Name: 20, dtype: int64

In [22]:
## Dropping any rows where there are no ratings for the stock
df = df[df.iloc[:,20] != 'No Ratings']
df.iloc[:,20].value_counts()

Moderate Buy     301
Hold             156
Strong Buy        91
Moderate Sell     46
Strong Sell       17
Name: 20, dtype: int64

In [23]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,0,0,0,0,1,0,0,0,0,0,...,3.57606,0.0402105,0.0402105,0.816842,0.449594,0.543171,0.176609,0.149922,0.0988372,Strong Buy
1,0,0,0,0,0,1,0,0,0,0,...,-13.9691,-3.91716,-3.91716,-366.805,1.00032,0.287207,0.0964047,0.0553512,0.0450237,Moderate Buy
2,0,0,0,0,0,0,0,1,0,0,...,5.00672,0.0489889,0.0489889,0.293608,0.226969,0.252644,0.139722,0.108517,0.0708606,Strong Sell
3,1,0,0,0,0,0,0,0,0,0,...,30.1087,0.0340109,0.0340109,2.07084,0.674357,0.432818,0.0732221,0.0535192,0.0220583,Moderate Buy
4,0,0,0,0,0,0,1,0,0,0,...,20.9696,0.104126,0.104126,2.34066,0.700658,0.375904,0.214537,0.18666,0.15862,Moderate Buy

In [24]:
## Standardizing data types of columns
for i in range(0,10):
    df.iloc[:,i] = pd.to_numeric(df.iloc[:,i], downcast='integer')
for i in range(10,20):
    df.iloc[:,i] = pd.to_numeric(df.iloc[:,i], downcast='float')

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 611 entries, 0 to 727
Data columns (total 21 columns):
0     611 non-null int8
1     611 non-null int8
2     611 non-null int8
3     611 non-null int8
4     611 non-null int8
5     611 non-null int8
6     611 non-null int8
7     611 non-null int8
8     611 non-null int8
9     611 non-null int8
10    611 non-null float32
11    611 non-null float32
12    611 non-null float32
13    611 non-null float32
14    611 non-null float32
15    611 non-null float32
16    611 non-null float32
17    611 non-null float32
18    611 non-null float32
19    611 non-null float32
20    611 non-null object
dtypes: float32(10), int8(10), object(1)
memory usage: 39.4+ KB

In [26]:
df.iloc[:,10:].describe()

,10,11,12,13,14,15,16,17,18,19
count,611.000000,611.000000,611.000000,611.000000,611.000000,611.000000,611.000000,611.000000,611.000000,611.000000
mean,32.923634,628.744324,-0.054732,-0.054732,0.887461,0.659672,1.730729,0.013661,0.001912,0.118943
std,787.423218,15301.194336,0.930550,0.930550,32.045357,0.330933,10.886591,2.899677,2.976008,0.335913
min,-53.727905,-239.375702,-13.218297,-13.218297,-505.333344,0.135058,-0.525598,-71.019867,-67.112579,-1.317722
25%,0.302162,-6.717942,0.013345,0.013345,0.929599,0.500502,0.265080,0.071477,0.044229,0.024871
50%,0.833832,5.408112,0.035146,0.035146,1.652918,0.645134,0.431412,0.144751,0.096562,0.071459
75%,1.525318,20.515936,0.069429,0.069429,2.865321,0.770366,0.674732,0.230001,0.171747,0.135027
max,19464.730469,378229.593750,2.444574,2.444574,387.020660,4.611532,201.035721,1.073856,24.530964,5.422786

In [27]:
## Setting rules for our margin features. Generally margins cannot be greater than 1
new_features = df[(df.iloc[:,18] < 1.0) & (df.iloc[:,17] < 1.0) & (df.iloc[:,16] < 1.0)]
new_features.iloc[:,10:].describe()

,10,11,12,13,14,15,16,17,18,19
count,540.000000,540.000000,540.000000,540.000000,540.000000,540.000000,540.000000,540.000000,540.000000,540.000000
mean,37.064713,708.735840,-0.066539,-0.066539,0.644237,0.668100,0.412403,0.110183,0.049199,0.118332
std,837.592651,16276.114258,0.988469,0.988469,34.057671,0.342478,0.235988,0.339631,0.690461,0.321474
min,-53.727905,-239.375702,-13.218297,-13.218297,-505.333344,0.135058,-0.525598,-4.759597,-14.180303,-0.317986
25%,0.340326,-7.810016,0.015041,0.015041,0.940277,0.506679,0.234931,0.068902,0.043733,0.025284
50%,0.878621,4.339023,0.038105,0.038105,1.668972,0.650982,0.392575,0.134209,0.093567,0.072217
75%,1.617304,19.102365,0.069790,0.069790,2.792913,0.774746,0.577214,0.208137,0.160520,0.131267
max,19464.730469,378229.593750,2.444574,2.444574,387.020660,4.611532,0.978799,0.658505,0.660428,5.422786

In [28]:
new_features.iloc[:,10].quantile(0.01)

-5.31213261604309

In [29]:
new_features.iloc[:,11].quantile(0.01)

-70.9026554107666

In [30]:
new_features.iloc[:,14].quantile(0.01)

-42.00734416961671

In [31]:
new_features = new_features[(new_features.iloc[:,10] < new_features.iloc[:,10].quantile(0.99)) & (new_features.iloc[:,11] < new_features.iloc[:,11].quantile(0.99)) & (new_features.iloc[:,14] < new_features.iloc[:,14].quantile(0.99)) & (new_features.iloc[:,10] > new_features.iloc[:,10].quantile(0.01)) & (new_features.iloc[:,11] > new_features.iloc[:,11].quantile(0.01)) & (new_features.iloc[:,14] > new_features.iloc[:,14].quantile(0.01))]
new_features.iloc[:,10:].describe()

,10,11,12,13,14,15,16,17,18,19
count,512.000000,512.000000,512.000000,512.000000,512.000000,512.000000,512.000000,512.000000,512.000000,512.000000
mean,1.038974,7.133998,0.037973,0.037973,1.892793,0.660468,0.413457,0.120200,0.057058,0.120764
std,1.232399,24.697433,0.165082,0.165082,4.157594,0.344771,0.233722,0.312248,0.694109,0.329468
min,-4.440567,-67.912575,-1.984506,-1.984506,-29.083279,0.135058,-0.525598,-4.759597,-14.180303,-0.317986
25%,0.340326,-7.242527,0.016349,0.016349,0.951219,0.504448,0.241864,0.070067,0.045159,0.025224
50%,0.859086,4.611540,0.038972,0.038972,1.678660,0.645165,0.391726,0.134209,0.093337,0.072349
75%,1.495976,19.023428,0.070111,0.070111,2.750046,0.759031,0.576641,0.208419,0.160520,0.132464
max,8.100298,153.103455,1.083984,1.083984,16.457205,4.611532,0.978799,0.658505,0.660428,5.422786

In [32]:
new_features[20].value_counts()

Moderate Buy     265
Hold             129
Strong Buy        75
Moderate Sell     33
Strong Sell       10
Name: 20, dtype: int64

In [33]:
## Encoding ratings into numerical data
ratings = {
    'Strong Sell': 0,
    'Moderate Sell': 0,
    'Hold': 1,
    'Moderate Buy': 2,
    'Strong Buy': 2
}

In [34]:
new_features[20] = new_features[20].map(ratings)
new_features[20].value_counts()

2    340
1    129
0     43
Name: 20, dtype: int64

In [35]:
X = new_features.values[:,:-1]
Y = new_features.values[:,-1]

In [36]:
## Train Test Split
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y)

In [37]:
## Feature Scaling
from sklearn.preprocessing import MinMaxScaler
minmax = MinMaxScaler()
X_train = minmax.fit_transform(X_train)
X_test = minmax.transform(X_test)

In [38]:
## Logistic Regression
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
model_lr = LogisticRegression(solver='lbfgs', multi_class='ovr')
model_lr.fit(X_train, Y_train)
y_pred_lr = model_lr.predict(X_test)
print(round(accuracy_score(Y_test, y_pred_lr),2))

0.65

In [39]:
## Prediction results for Logistic Regression Model Above. Very biased model that only predicts 'Buy'
np.unique(y_pred_lr, return_counts=True)

(array([1., 2.]), array([  1, 102], dtype=int64))

In [40]:
minority = np.unique(Y_train, return_counts=True)[1][0]
majority = np.unique(Y_train, return_counts=True)[1][2]

In [41]:
## Undersampling
from imblearn.under_sampling import RandomUnderSampler
us = RandomUnderSampler(sampling_strategy={0:minority,1:minority,2:minority}).fit(X_train, Y_train)
X_train_us, Y_train_us = us.fit_resample(X_train, Y_train)
model_us = LogisticRegression(solver='lbfgs', multi_class='ovr')
model_us.fit(X_train_us, Y_train_us)
y_pred_us = model_us.predict(X_test)
from sklearn.model_selection import cross_val_score
accuracies_us = cross_val_score(estimator = model_us, X = X_train_us, y = Y_train_us, cv = 10)
print('Undersampling: Average Accuracy of {}, Standard Deviation of {}'.format(round(accuracies_us.mean(),2), round(accuracies_us.std(),2)))

Undersampling: Average Accuracy of 0.42, Standard Deviation of 0.13

In [42]:
## SMOTE
from imblearn.over_sampling import SMOTE
sm = SMOTE(sampling_strategy={0:majority,1:majority,2:majority})
X_train_sm, Y_train_sm = sm.fit_sample(X_train, Y_train)
model_sm = LogisticRegression(solver='lbfgs', multi_class='ovr').fit(X_train_sm, Y_train_sm)
y_pred_sm = model_sm.predict(X_test)
accuracies_sm = cross_val_score(estimator = model_sm, X = X_train_sm, y = Y_train_sm, cv = 10)
print('SMOTE: Average Accuracy of {}, Standard Deviation of {}'.format(round(accuracies_sm.mean(),2), round(accuracies_sm.std(),2)))

SMOTE: Average Accuracy of 0.51, Standard Deviation of 0.05

In [43]:
## Grid Search and Hyperparameter Tuning
from sklearn.model_selection import GridSearchCV
parameters = [
            {
                'C': [800, 900, 1000, 1100, 1200, 1300, 1400, 1500],
                'solver': ['newton-cg'],
                'multi_class':['ovr', 'multinomial']
            },
        ]
grid_search = GridSearchCV(estimator = model_sm, param_grid = parameters, scoring='accuracy', cv = 10)
grid_search = grid_search.fit(X = X_train_sm, y = Y_train_sm)
best_accuracy = grid_search.best_score_
best_parameters = grid_search.best_params_

In [44]:
best_accuracy

0.5845588235294118

In [45]:
best_parameters

{'C': 800, 'multi_class': 'multinomial', 'solver': 'newton-cg'}

In [46]:
## Feature Selection for Model Optimization Using Backward Elimination Method
import statsmodels.formula.api as sm
## Features after Backward Elimination Method: We will keep all our features
X_opt = X_train_sm[:, [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]]
Y_opt = Y_train_sm

In [47]:
classification_OLS = sm.OLS(endog=Y_opt, exog = X_opt).fit()
classification_OLS.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.707
Model:                            OLS   Adj. R-squared:                  0.700
Method:                 Least Squares   F-statistic:                     101.2
Date:                Fri, 13 Sep 2019   Prob (F-statistic):          2.50e-197
Time:                        20:01:46   Log-Likelihood:                -865.55
No. Observations:                 816   AIC:                             1769.
Df Residuals:                     797   BIC:                             1858.
Df Model:                          19
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1             0.2878      0.105      2.732      0.006       0.081       0.495
x2             0.5985      0.127      4.715      0.000       0.349       0.848
x3             0.6980      0.143      4.873      0.000       0.417       0.979
x4             1.2042      0.170      7.072      0.000       0.870       1.538
x5             0.6461      0.122      5.312      0.000       0.407       0.885
x6             0.4823      0.114      4.226      0.000       0.258       0.706
x7             0.4906      0.113      4.360      0.000       0.270       0.711
x8             0.7813      0.147      5.324      0.000       0.493       1.069
x9             1.0119      0.196      5.167      0.000       0.628       1.396
x10            0.4679      0.138      3.381      0.001       0.196       0.740
x11            3.1929      0.317     10.085      0.000       2.571       3.814
x12           -1.1273      0.302     -3.730      0.000      -1.721      -0.534
x13           -1.0485      0.337     -3.112      0.002      -1.710      -0.387
x14           -1.0485      0.337     -3.112      0.002      -1.710      -0.387
x15            1.1289      0.361      3.127      0.002       0.420       1.837
x16           -0.7204      0.343     -2.099      0.036      -1.394      -0.047
x17            0.3278      0.130      2.519      0.012       0.072       0.583
x18            1.5969      0.769      2.078      0.038       0.088       3.106
x19           -1.7019      0.758     -2.246      0.025      -3.189      -0.215
x20            3.2869      0.568      5.787      0.000       2.172       4.402
==============================================================================
Omnibus:                       58.066   Durbin-Watson:                   1.084
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               26.441
Skew:                           0.236   Prob(JB):                     1.81e-06
Kurtosis:                       2.255   Cond. No.                     2.69e+17
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 3.98e-32. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [48]:
model_opt = LogisticRegression(C= best_parameters['C'], multi_class= best_parameters['multi_class'], solver= best_parameters['solver']).fit(X_opt, Y_opt)
y_pred_opt = model_opt.predict(X_test[:, [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]])

In [49]:
accuracies_opt = cross_val_score(estimator = model_opt, X = X_opt, y = Y_opt, cv = 10)
print('Logistic Regression Optimial: Average Accuracy of {}, Standard Deviation of {}'.format(round(accuracies_opt.mean(),2), round(accuracies_opt.std(),2)))

Logistic Regression Optimial: Average Accuracy of 0.58, Standard Deviation of 0.04

In [50]:
print(round(accuracy_score(Y_test, y_pred_opt),2))

0.45

In [51]:
## Random Forest Classifier
from sklearn.ensemble import RandomForestClassifier
model_rf = RandomForestClassifier(n_estimators = 100, criterion = 'entropy').fit(X_opt, Y_opt)
y_pred_rf = model_rf.predict(X_test[:, [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]])

In [52]:
accuracies_rf = cross_val_score(estimator = model_rf, X = X_opt, y = Y_opt, cv = 10)
print('Random Forest: Average Accuracy of {}, Standard Deviation of {}'.format(round(accuracies_rf.mean(),2), round(accuracies_rf.std(),2)))

Random Forest: Average Accuracy of 0.77, Standard Deviation of 0.04

In [53]:
print(round(accuracy_score(Y_test, y_pred_rf),2))

0.6

In [54]:
## Pickle Model
import pickle
filename = 'model.pkl'
pickle.dump(model_rf, open(filename, 'wb'))

## Load Model
#model = pickle.load(open(filename, 'rb'))

## For MinMax Scaling
maximum = X_train.iloc[:,[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]].max()
minimum = X_train.iloc[:,[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]].min()
maximum.to_csv('./datasets/featurescalingmax.csv', header=True)
minimum.to_csv('./datasets/featurescalingmin.csv', header=True)